/* IMPORT FONT */
@font-face {
	font-family: Anton;
	src: url("../fonts/Anton/Anton-Regular.ttf") format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow Condensed';
	src: url("../fonts/Barlow_Condensed/BarlowCondensed-Regular.ttf") format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow Condensed';
	src: url("../fonts/Barlow_Condensed/BarlowCondensed-Medium.ttf") format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow Condensed';
	src: url("../fonts/Barlow_Condensed/BarlowCondensed-SemiBold.ttf") format('opentype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Barlow Condensed';
	src: url("../fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf") format('opentype');
	font-weight: 700;
	font-style: normal;
}


.isometric-wrapper {
    background-color: black;
}

.isometric-content {
    height: 900px;
    overflow: hidden;
    background: linear-gradient(130deg, rgb(255, 236, 133) 0%, rgb(236, 104, 91) 100%);
    z-index: 2;
}

.shape-right {
    position: absolute;
    top: 0;
    right: 0;
}

.shape-left {
    position: absolute;
    top: 0;
    left: 0;
}

.right-surface-top {
    z-index: 8;
    width: 350px;
    height: 1000px;
    background: linear-gradient(50deg, rgb(254, 230, 131) 0%, rgb(251, 211, 125) 100%);
    border-left: 1px solid rgb(254, 230, 131);
    position: absolute;
    top: -554px;
    right: -335px;
    transform: skew(-64deg, 30deg) scale(0.866, 0.4384);
    transition: all 0.2s;
    opacity: 0;
}

.animation-in .right-surface-top {
    opacity: 1;
    animation: rightSurfaceTop 0.55s ease-in-out;
    -moz-animation: rightSurfaceTop 0.55s ease-in-out;
    -webkit-animation: rightSurfaceTop 0.55s ease-in-out;
    -o-animation: rightSurfaceTop 0.55s ease-in-out;
}

.right-surface-left {
    z-index: 9;
    width: 350px;
    height: 350px;
    background: linear-gradient(5deg, rgb(254, 226, 130) 0%, rgb(251, 209, 125) 100%);
    border-left: 1px solid rgb(254, 226, 130);
    position: absolute;
    top: 165px;
    right: 115px;
    transform: skew(0deg, 30deg) scale(0.866, 1);
    transition: all 0.2s;
    opacity: 0;
}

.animation-in .right-surface-left {
    opacity: 1;
    animation: rightSurfaceLeft 0.55s ease-in-out;
    -moz-animation: rightSurfaceLeft 0.55s ease-in-out;
    -webkit-animation: rightSurfaceLeft 0.55s ease-in-out;
    -o-animation: rightSurfaceLeft 0.55s ease-in-out;
}

.right-surface-right {
    z-index: 10;
    width: 1000px;
    height: 350px;
    background: linear-gradient(50deg, rgb(250, 198, 121) 0%, rgb(245, 164, 110) 100%);
    border-bottom: 1px solid rgb(250, 198, 121);
    position: absolute;
    top: 33px;
    right: -811px;
    transform: skew(0deg, -26deg) scale(0.8988, 1);
    transition: all 0.2s;
    opacity: 0;
}

.animation-in .right-surface-right {
    opacity: 1;
    animation: rightSurfaceRight 0.55s ease-in-out;
    -moz-animation: rightSurfaceRight 0.55s ease-in-out;
    -webkit-animation: rightSurfaceRight 0.55s ease-in-out;
    -o-animation: rightSurfaceRight 0.55s ease-in-out;
}

.left-surface-top {
    z-index: 11;
    width: 350px;
    height: 1000px;
    background: linear-gradient(50deg, rgb(254, 230, 131) 0%, rgb(251, 211, 125) 100%);
    border: 1px solid rgb(254, 230, 131);
    position: absolute;
    top: 298px;
    left: 391px;
    transform: skew(-64deg, 30deg) scale(0.866, 0.4384);
    transition: all 0.2s;
    opacity: 0;
}

.animation-in .left-surface-top {
    opacity: 1;
    animation: leftSurfaceTop 0.55s ease-in-out;
    -moz-animation: leftSurfaceTop 0.55s ease-in-out;
    -webkit-animation: leftSurfaceTop 0.55s ease-in-out;
    -o-animation: leftSurfaceTop 0.55s ease-in-out;
}

.left-surface-front {
    z-index: 12;
    width: 1000px;
    height: 350px;
    background: linear-gradient(50deg, rgb(250, 198, 121) 0%, rgb(245, 164, 110) 100%);
    border: 1px solid rgb(245, 164, 110);
    position: absolute;
    top: 886px;
    left: 218px;
    transform: skew(0deg, -26deg) scale(0.8988, 1); 
    transition: all 0.2s;
    opacity: 0;
}

.animation-in .left-surface-front { 
    opacity: 1;
    animation: leftSurfaceFront 0.55s ease-in-out;
    -moz-animation: leftSurfaceFront 0.55s ease-in-out;
    -webkit-animation: leftSurfaceFront 0.55s ease-in-out;
    -o-animation: leftSurfaceFront 0.55s ease-in-out;
}

.block-text {
    z-index: 13;
    font-family: 'Anton', sans-serif;
    white-space: nowrap;
    font-size: 120px;
    font-weight: 400;
    line-height: 120px;
    letter-spacing: -4px;
    position: absolute;
    top: 300px;
    left: 995px;
    transform: skew(0deg, -27deg) scale(0.891, 1);
    transition: all 0.2s;
    opacity: 0;
}

.animation-in .block-text {
    opacity: 1;
    animation: slideDownTextMain 1.2s ease-in-out;
    -moz-animation: slideDownTextMain 1.2s ease-in-out;
    -webkit-animation: slideDownTextMain 1.2s ease-in-out;
    -o-animation: slideDownTextMain 1.2s ease-in-out;
}

.animation-out .block-text {
    animation: slideUpTextMain 0.6s ease-in-out;
    -moz-animation: slideUpTextMain 0.6s ease-in-out;
    -webkit-animation: slideUpTextMain 0.6s ease-in-out;
    -o-animation: slideUpTextMain 0.6s ease-in-out;
}

.block-subtext {
    z-index: 14;
    color: #fff6ad;
    line-height: 35px;
    font-size: 30px;
    font-family: 'Barlow Condensed', sans-serif;
    width: 400px;
    position: absolute;
    top: 530px;
    left: 1185px;
    transform: skew(0deg, -27deg) scale(0.891, 1);  
    transition: all 0.2s; 
    opacity: 0;
}

.animation-in .block-subtext {
    opacity: 1;
    animation: slideUpTextSub 1.2s ease-in-out;
    -moz-animation: slideUpTextSub 1.2s ease-in-out;
    -webkit-animation: slideUpTextSub 1.2s ease-in-out;
    -o-animation: slideUpTextSub 1.2s ease-in-out;
}

.animation-out .block-subtext {
    animation: slideDownTextSub 0.2s ease-in-out;
   -moz-animation: slideDownTextSub 0.2s ease-in-out;
   -webkit-animation: slideDownTextSub 0.2s ease-in-out;
   -o-animation: slideDownTextSub 0.2s ease-in-out;
}

.block-computer {
    z-index: 15;
    position: absolute;
    top: 364px;
    left: 590px;
    width: 419px;
    height: 417px;
    opacity: 0;    
}

.animation-in .block-computer {
    opacity: 1;
    animation: slideLeftToRight 1.2s ease-in-out;
    -moz-animation: slideLeftToRight 1.2s ease-in-out;
    -webkit-animation: slideLeftToRight 1.2s ease-in-out;
    -o-animation: slideLeftToRight 1.2s ease-in-out;
}

.computer-screen-img {
    z-index: 16;
    width: 255px;
    height: 176px;
    background: url('../img/tech-slider-1-macbook-screen.jpg') no-repeat center center;
    background-size: cover;
    position: absolute;
    top: 75px;
    left: -1px;
    transform: skew(0deg, -26deg) scale(0.8988, 1);
    transition: all 0.2s;
}

.computer-screen-bg {
    z-index: 17;
    width: 232px;
    height: 289px;
    opacity: 0.994;
    position: absolute;
    top: 25px;
    left: 28px;
}

.computer-screen-bg img {
    width: 232px;
    height: 289px;
}

.computer-screen {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.layer-1 .computer-screen-img {
    z-index: 18;
    background: url('../img/tech-slider-1-macbook-screen-1.jpg') no-repeat center center;
    top: 83px;
    left: 18px; 
}

.animation-in .layer-1.computer-screen {
    z-index: 19;
    /* annimation */
    animation: screenComputerLayerMove2 5.1s ease-in-out;
    -moz-animation: screenComputerLayerMove2 5.1s ease-in-out;
    -webkit-animation: screenComputerLayerMove2 5.1s ease-in-out;
    -o-animation: screenComputerLayerMove2 5.1s ease-in-out;
}

.layer-2 .computer-screen-bg {
    z-index: 10;
    top: 38px;
    left: 48px; 
}

.layer-2 .computer-screen-img { 
    z-index: 21;
    background: url('../img/tech-slider-1-macbook-screen-2.jpg') no-repeat center center;
    top: 97px;
    left: 38px;
}

.animation-in .layer-2.computer-screen {
    z-index: 22;
    /* annimation */
    animation: screenComputerLayerMove 3.5s ease-in-out;
    -moz-animation: screenComputerLayerMove 3.5s ease-in-out;
    -webkit-animation: screenComputerLayerMove 3.5s ease-in-out;
    -o-animation: screenComputerLayerMove 3.5s ease-in-out;
}
 
.layer-3 .computer-screen-bg {
    z-index: 23;
    top: 56px;
    left: 70px;
}

.layer-3 .computer-screen-img { 
    z-index: 24;
    background: url('../img/tech-slider-1-macbook-screen-3.jpg') no-repeat center center;
    top: 114px;
    left: 60px;
}

.animation-in .layer-3.computer-screen {
    z-index: 25;
    /* annimation */
    animation: screenComputerLayer 2.3s ease-in-out;
    -moz-animation: screenComputerLayer 2.3s ease-in-out;
    -webkit-animation: screenComputerLayer 2.3s ease-in-out;
    -o-animation: screenComputerLayer 2.3s ease-in-out;
}


.animation-out .right-surface-top, 
.animation-out .right-surface-left, 
.animation-out .right-surface-right,
.animation-out .left-surface-top,
.animation-out .left-surface-front,
.animation-out .block-computer,
.animation-out .left-blue-surface-top,
.animation-out .left-blue-surface-left,
.animation-out .left-blue-surface-front,
.animation-out .right-blue-surface-top,
.animation-out .right-blue-surface-front {
    animation: opacityElement 0.001s ease-in-out;
    -moz-animation: opacityElement 0.001s ease-in-out;
    -webkit-animation: opacityElement 0.001s ease-in-out;
    -o-animation: opacityElement 0.001s ease-in-out;
}

.isometric-content-slide2 {
    height: 900px;
    overflow: hidden;
    background: linear-gradient(130deg, rgb(60, 239, 255) 0%, rgb(125, 91, 236) 100%);
    z-index: 2;
} 

.shape-right-blue {
    position: absolute;
    bottom: 0;
    right: 0;
}

.shape-left-blue {
    position: absolute;
    bottom: 0;
    left: 0;
}

.left-blue-surface-top {
    z-index: 1;
    width: 350px;
    height: 1000px;
    background: linear-gradient(50deg, rgb(61, 238, 254) 0%, rgb(141, 165, 254) 100%);
    position: absolute;
    bottom: -143px;
    left: 728px;
    transform: skew(-64deg, 30deg) scale(0.866, 0.4384);
    opacity: 0;
}

.animation-in .left-blue-surface-top {
    opacity: 1;
    animation: bottomToCenterSurfaceTop 0.56s ease-in-out;
    -moz-animation: bottomToCenterSurfaceTop 0.56s ease-in-out;
    -webkit-animation: bottomToCenterSurfaceTop 0.56s ease-in-out;
    -o-animation: bottomToCenterSurfaceTop 0.56s ease-in-out;
}

.left-blue-surface-left {
    z-index: 2;
    width: 350px;
    height: 350px;
    background: linear-gradient(130deg, rgb(132, 243, 254) 0%, rgb(121, 240, 252) 100%);
    position: absolute;
    bottom: -212px;
    right: -630px;
    transform: skew(0deg, 30deg) scale(0.866, 1);
    opacity: 0;
}

.animation-in .left-blue-surface-left {
    opacity: 1;
    animation: bottomToCenterSurfaceLeft 0.55s ease-in-out;
    -moz-animation: bottomToCenterSurfaceLeft 0.55s ease-in-out;
    -webkit-animation: bottomToCenterSurfaceLeft 0.55s ease-in-out;
    -o-animation: bottomToCenterSurfaceLeft 0.55s ease-in-out;
}

.left-blue-surface-front {
    z-index: 3;
    width: 1000px;
    height: 350px;
    background: linear-gradient(50deg, rgb(45, 217, 235) 0%, rgb(109, 82, 230) 100%);
    position: absolute;
    bottom: -80px;
    left: 556px;
    transform: skew(0deg, -26deg) scale(0.8988, 1);
    opacity: 0;
}

.animation-in .left-blue-surface-front {
    opacity: 1;
    animation: bottomToCenterSurfaceFront 0.55s ease-in-out;
    -moz-animation: bottomToCenterSurfaceFront 0.55s ease-in-out;
    -webkit-animation: bottomToCenterSurfaceFront 0.55s ease-in-out;
    -o-animation: bottomToCenterSurfaceFront 0.55s ease-in-out;
}


.right-blue-surface-top {
    z-index: 4;
    width: 350px;
    height: 1000px;
    background: linear-gradient(50deg, rgb(61, 238, 254) 0%, rgb(141, 165, 254) 100%);
    position: absolute;
    bottom: -380px;
    right: -170px;
    transform: skew(64deg, -27deg) scale(0.891, 0.4384);
    opacity: 0;
}

.animation-in .right-blue-surface-top {
    opacity: 1;
    animation: rightBottomSurfaceTop 1.3s ease-in-out;
    -moz-animation: rightBottomSurfaceTop 1.3s ease-in-out;
    -webkit-animation: rightBottomSurfaceTop 1.3s ease-in-out;
    -o-animation: rightBottomSurfaceTop 1.3s ease-in-out;
}

.right-blue-surface-front {
    z-index: 5;
    width: 1000px;
    height: 350px;
    background: linear-gradient(50deg, rgb(45, 217, 235) 0%, rgb(109, 82, 230) 100%);
    position: absolute;
    bottom: -310px;
    right: -340px;
    transform: skew(0deg, 26deg) scale(0.8988, 1);
    opacity: 0;
}

.animation-in .right-blue-surface-front {
    opacity: 1;
    animation: rightBottomSurfaceFront 1.3s ease-in-out;
    -moz-animation: rightBottomSurfaceFront 1.3s ease-in-out;
    -webkit-animation: rightBottomSurfaceFront 1.3s ease-in-out;
    -o-animation: rightBottomSurfaceFront 1.3s ease-in-out;
}

.block-blue-text {
    z-index: 6;
    font-family: 'Anton';
    line-height: 120px;
    letter-spacing: -4px;
    font-weight: 400;
    font-size: 120px;
    position: absolute;
    bottom: 323px;
    left: 465px;
    transform: skew(0deg, -27deg) scale(0.891, 1);
    opacity: 0;
}

.animation-in .block-blue-text {
    opacity: 1;
    animation: slideDownTextMainBlue 1s ease-in-out;
   -moz-animation: slideDownTextMainBlue 1s ease-in-out;
   -webkit-animation: slideDownTextMainBlue 1s ease-in-out;
   -o-animation: slideDownTextMainBlue 1s ease-in-out;
}

.animation-out .block-blue-text {
   animation: slideLeftTextMainBlue 0.6s ease-in-out;
   -moz-animation: slideLeftTextMainBlue 0.6s ease-in-out;
   -webkit-animation: slideLeftTextMainBlue 0.6s ease-in-out;
   -o-animation: slideLeftTextMainBlue 0.6s ease-in-out;
}

.block-blue-subtext {
    z-index: 7;
    font-family: "Barlow Condensed";
    line-height: 35px;
    letter-spacing: 0;
    font-weight: 500;
    font-size: 30px;
    position: absolute;
    top: 215px;
    right: 270px;
    width: 400px;
    transform: skew(0deg, 29deg) scale(0.8746, 1);
    opacity: 0;
}

.animation-in .block-blue-subtext {
    opacity: 1;
    animation: slideDownTextSubBlue 1.3s ease-in-out;
   -moz-animation: slideDownTextSubBlue 1.3s ease-in-out;
   -webkit-animation: slideDownTextSubBlue 1.3s ease-in-out;
   -o-animation: slideDownTextSubBlue 1.3s ease-in-out;
}

.animation-out .block-blue-subtext {
    animation: slideRightTextSubBlue 0.6s ease-in-out;
   -moz-animation: slideRightTextSubBlue 0.6s ease-in-out;
   -webkit-animation: slideRightTextSubBlue 0.6s ease-in-out;
   -o-animation: slideRightTextSubBlue 0.6s ease-in-out;
}

.block-blue-computer {
    z-index: 8;
    position: absolute;
    bottom: 152px;
    left: 598px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.animation-in .block-blue-computer {
    opacity: 1;
    animation: slideLeftToRight 1s ease-in-out;
    -moz-animation: slideLeftToRight 1s ease-in-out;
    -webkit-animation: slideLeftToRight 1s ease-in-out;
    -o-animation: slideLeftToRight 1s ease-in-out;
}

.animation-out .block-blue-computer {
    animation: slideCenterTotop 1s ease-in-out;
    -moz-animation: slideCenterTotop 1s ease-in-out;
    -webkit-animation: slideCenterTotop 1s ease-in-out;
    -o-animation: slideCenterTotop 1s ease-in-out;
}

.computer-blue-iphone {
    z-index: 17;
    width: 189px;
    height: 93px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.computer-blue-iphone img {
    width: 189px;
    height: 93px;
}

.blue-iphone-img {
    background: url('../img/tech-slider-2-iphone-screen.jpg') no-repeat center center;
    background-size: cover;
    width: 54px;
    height: 92px;
    transform: skew(63deg, -26deg) scale(0.8988, 0.454);
    position: absolute;
    top: -3px;
    left: 66px;
}

.computer-blue-ipad {
    z-index: 17;
    width: 315px;
    height: 156px;
    position: absolute;
    bottom: 82px;
    left: 149px;
    transform: skew(-2deg, 0deg) scale(1, 0.9994);
}

.computer-blue-ipad img {
    width: 315px;
    height: 156px;
}

.blue-ipad-img {
    background: url('../img/tech-slider-2-ipad-screen.jpg') no-repeat center center;
    background-size: cover;
    width: 172px;
    height: 125px;
    transform: skew(63deg, -26deg) scale(0.8988, 0.454);
    position: absolute;
    top: 12px;
    left: 66px;
}

.computer-blue-main {
    z-index: 18;
    position: absolute;
    bottom: 222px;
    left: 379px;
}

.blue-computer-img {
    background: url('../img/tech-slider-1-macbook-screen.jpg') no-repeat center center;
    background-size: cover;
    width: 255px;
    height: 180px;
    transform: skew(0deg, -26deg) scale(0.8988, 1);
    position: absolute;
    top: 77px;
    left: -2px;
}

@keyframes rightSurfaceTop {
    0%    {transform: skew(-64deg, 30deg) scale(0.866, 0.4384) translate3d(0,-350px,0);}
    100%  {transform: skew(-64deg, 30deg) scale(0.866, 0.4384) translate3d(0,0,100px);}
}

@keyframes rightSurfaceLeft {
    0%    {transform: skew(0deg, 30deg) scale(0.866, 1) translate3d(350px,-350px,0);}
    100%  {transform: skew(0deg, 30deg) scale(0.866, 1) translate3d(0,0,100px);}
}

@keyframes rightSurfaceRight {
    0%    {transform: skew(0deg, -26deg) scale(0.8988, 1) translate3d(345px,0,0);}
    100%  {transform: skew(0deg, -26deg) scale(0.8988, 1) translate3d(0,0,100px);}
}

@keyframes leftSurfaceTop {
    0%    {transform: skew(-64deg, 30deg) scale(0.866, 0.4384) translate3d(0,350px,0);}
    100%  {transform: skew(-64deg, 30deg) scale(0.866, 0.4384) translate3d(0,0,-50px);}
}

@keyframes leftSurfaceFront {
    0%    {transform: skew(0deg, -26deg) scale(0.8988, 1) translate3d(-350px,0,0);}
    100%  {transform: skew(0deg, -26deg) scale(0.8988, 1) translate3d(0,0,-50px);}
}

@keyframes slideUpTextMain {
    0%    {transform: skew(0deg, -27deg) scale(0.891, 1) translateY(0);}
    100%  {transform: skew(0deg, -27deg) scale(0.891, 1) translateY(-800px);}
}

@keyframes slideDownTextMain {
    0%    {transform: skew(0deg, -27deg) scale(0.891, 1) translateY(-800px);}
    50%   {transform: skew(0deg, -27deg) scale(0.891, 1) translateY(-800px);}
    100%  {transform: skew(0deg, -27deg) scale(0.891, 1) translateY(0);}
}

@keyframes slideUpTextSub {
    0%    {transform: skew(0deg, -27deg) scale(0.891, 1) translateY(500px);}
    50%   {transform: skew(0deg, -27deg) scale(0.891, 1) translateY(500px);}
    100%  {transform: skew(0deg, -27deg) scale(0.891, 1) translateY(0);}
}

@keyframes slideDownTextSub {
    0%    {transform: skew(0deg, -27deg) scale(0.891, 1) translateY(0);}
    100%  {transform: skew(0deg, -27deg) scale(0.891, 1) translateY(500px);}
}

@keyframes opacityElement {
    0%    {opacity: 0;}
    100%  {opacity: 0;}
}

@keyframes slideLeftToRight {
    0%    {transform: translate3d(-900px,490px,0);opacity: 0;}
    50%   {transform: translate3d(-900px,490px,0);opacity: 0;}
    100%  {transform: translate3d(0,0,100px);opacity: 1;}
}

@keyframes screenComputerLayer {
    0%    {transform: translate3d(0,0,0); opacity: 1;}
    70%   {transform: translate3d(0,0,0); opacity: 1;}
    100%  {transform: translate3d(500px,-250px,100px);opacity: 0;}
}

@keyframes screenComputerLayerMove {
    0%    {transform: translate3d(0,0,0); opacity: 1;}
    68%   {transform: translate3d(0,0,0); opacity: 1;}
    75%   {transform: translate3d(25px,15px,0); opacity: 1;}
    85%   {transform: translate3d(25px,15px,0); opacity: 1;}
    100%  {transform: translate3d(500px,-250px,100px);opacity: 0;}
}

@keyframes screenComputerLayerMove2 {
    0%    {transform: translate3d(0,0,0); opacity: 1;}
    68%   {transform: translate3d(0,0,0); opacity: 1;}
    75%   {transform: translate3d(50px,30px,0); opacity: 1;}
    85%   {transform: translate3d(50px,30px,0); opacity: 1;}
    100%  {transform: translate3d(500px,-250px,100px);opacity: 0;}
}

@keyframes bottomToCenterSurfaceTop {
    0%    {transform: skew(-64deg, 30deg) scale(0.866, 0.4384) translate(300px,300px);}
    100%  {transform: skew(-64deg, 30deg) scale(0.866, 0.4384) translate(0,0);}
}

@keyframes bottomToCenterSurfaceLeft {
    0%    {transform: skew(0deg, 30deg) scale(0.866, 1) translate(0,300px);}
    100%  {transform: skew(0deg, 30deg) scale(0.866, 1) translate(0,0);}
}

@keyframes bottomToCenterSurfaceFront {
    0%    {transform: skew(0deg, -26deg) scale(0.8988, 1) translate(0,300px);}
    100%  {transform: skew(0deg, -26deg) scale(0.8988, 1) translate(0,0);}
}

@keyframes rightBottomSurfaceTop {
    0%    {transform: skew(64deg, -27deg) scale(0.891, 0.4384) translate(0,800px);}
    50%   {transform: skew(64deg, -27deg) scale(0.891, 0.4384) translate(0,800px);}
    100%  {transform: skew(64deg, -27deg) scale(0.891, 0.4384) translate(0,0);}
}

@keyframes rightBottomSurfaceFront {
    0%    {transform: skew(0deg, 26deg) scale(0.8988, 1) translate(800px,0);}
    50%   {transform: skew(0deg, 26deg) scale(0.8988, 1) translate(800px,0);}
    100%  {transform: skew(0deg, 26deg) scale(0.8988, 1) translate(0,0);}
}

@keyframes slideDownTextMainBlue {
    0%    {transform: skew(0deg, -27deg) scale(0.891, 1) translateY(-800px);}
    50%   {transform: skew(0deg, -27deg) scale(0.891, 1) translateY(-800px);}
    100%  {transform: skew(0deg, -27deg) scale(0.891, 1) translateY(0);}
}

@keyframes slideLeftTextMainBlue { 
    0%    {transform: skew(0deg, -27deg) scale(0.891, 1) translateX(0);}
    100%  {transform: skew(0deg, -27deg) scale(0.891, 1) translateX(-800px);}
}

@keyframes slideDownTextSubBlue {
    0%    {transform: skew(0deg, 29deg) scale(0.8746, 1) translateY(-800px);}
    50%   {transform: skew(0deg, 29deg) scale(0.8746, 1) translateY(-800px);}
    100%  {transform: skew(0deg, 29deg) scale(0.8746, 1) translateY(0);}
}

@keyframes slideRightTextSubBlue {
    0%    {transform: skew(0deg, 29deg) scale(0.8746, 1) translate3d(0,0,0);}
    100%  {transform: skew(0deg, 29deg) scale(0.8746, 1) translate3d(300px,-300px,300px)}
}

@keyframes slideCenterTotop {
    0%    {transform: translate3d(0,0,0);}
    100%  {transform: translate3d(-1000px,-1000px,-500px)}
}

